.container{
    width: 100%;
    height: 100%;
    background-color:white;
    text-align: center;
    font-size: 14px;
    color: #1877f2;
}

.email-box{
    width: 400px;
    height: 40px;
    border-radius: 4px;
     border: 0;
    margin-left: 27.7%;
    
   
}
.passw{
 width: 400px;
 height: 40px;
 border-radius: 4px;
 border: 0ch;
 margin-left: 35%;
 margin-top: 10px;
}
.butt{
    background-color: #1877f2;
    color: white;
    align-items: center;
    margin-left: 35%;
    height: 40px;
    width: 410px;
    margin-top: 10px;
    align-items: center;    
    border: none;
    border-radius: 4px;
    font-weight: 1000;
    font-family: sans-serif;
}

.forpas{
    margin-left: 46%;
    margin-top: 10px;
    font-size: 14px;
    font-family: sans-serif;
    color: #1877f2;
}
.or{
    margin-left:35.5% ;
    margin-top: 10px;
    color: grey;
}
.CNA{
    background-color: #00a400;;
    color: white;
    margin-left: 45%;
    margin-top: 18px;
    height: 36px;
    border: none;
    box-shadow: none;
    padding-left: 16px;
    padding-right: 16px;
    font-family: revert;
    font-weight: bold;
    border-radius: 4px;
   
}
.language{
    cursor: pointer;
    color:dimgray;
    margin-left: 316px;
    font-size: 12px;
    margin-top: 125px;

    
}
.foot{
    color: darkgray;
 font-size: smaller;
   margin-bottom: 10px;
    margin-left: 644px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;

}
.right-corner{
    cursor: pointer;
    color:dimgray;
    margin-left: 1000px;
    font-size: 14px;
    margin-top: -80px;

  }   
  .add{
      border: 1;
      font-size:initial;
      color: inherit;
      font-weight: 600;
      background-color: ivory;
      border-radius: 4px;
      border-width: 1px;

  }
